@import "/src/styles/common-imports.scss";

.login_wrapper {
  @include flexHorizontalCenter;
  margin: 5% auto;
  .login_form {
    @include flexFullCenter;
    border-bottom: 10px solid $main-green;
    border-top: 10px solid $main-green;
    padding: 20px;
    background-color: $background-second;
    form {
      #login_Input, #password_Input {
        padding-bottom: 25px;
        .common_input {
          width: 100%;
        }
      }
      #login_Input {
        @include iconBeforeInputPadding(25px);
      }
      #login_Input::before {
        @include iconsSd(url('/assets/svg/user.svg'), 25px, 25px, $main-green);
        @include iconInputPosition(25px, 0.18);
      }
      #password_Input {
        @include iconInputPaddingBothSide(25px);
      }
      #password_Input::before {
        @include iconsSd(url('/assets/svg/key-solid.svg'), 25px, 25px, $main-green);
        @include iconInputPosition(30px, 0.18);
      }
      .eye {
        font-size: 25px;
        color: $main-green;
        position: absolute;
        display: inline;
        left: unset;
        right: 0;
        top: 2px;
        .eye_icon {
          @include iconsSd(url('/assets/svg/eye-regular.svg'), 30px, 30px, $main-green);
        }
        .eye_cross {
          @include iconsSd(url('/assets/svg/eye-slash-regular.svg'), 30px, 30px, $main-green);
        }
      }

      .login_options {
        display: flex;
        margin-bottom: 15px;
        a {
          padding-top: 3px;
          padding-left: 10px;
        }
      }
    }
  }
}

.login_icon {
  @include flexHorizontalCenter;
}

.ic-login {
  width: 50px;
  height: 50px;
  display: block;
  background-color: $main-green;
  -webkit-mask-image: url('/assets/svg/users-solid.svg');
  mask-image: url('/assets/svg/users-solid.svg');
  mask-repeat: no-repeat;
}

.login_button {
  @include flexHorizontalCenter;
  button {
    width: 100%;
  }
}

