<div class="login_wrapper">
  <div class="login_form">
    <form #loginForm="ngForm">
      <div class="login_icon">
        <i class="ic-login"></i>
      </div>
      <div id="login_Input">
        <input [(ngModel)]="loginData.email" class="common_input" placeholder="E-mail">
        <div class="form_error">E-mail jest wymagany</div>
      </div>
      <div id="password_Input">
        <input [(ngModel)]="loginData.password" class="common_input" placeholder="Hasło">
        <i class="eye"></i>
        <div class="form_error">Hasło jest wymagane</div>
      </div>
      <div class="login_options">
        <div>
          <input id="rember_me" type="checkbox">
          <label for="rember_me">Zapamiętaj mnie</label>
        </div>
        <a href="">Zapomniałeś hasła</a>
      </div>
      <div class="login_button">
        <button class="classic_button" mat-stroked-button>Zaloguj</button>
      </div>
    </form>
  </div>
</div>