<div class="login_wrapper">
  <div class="login_form">
    <form #loginForm="ngForm" (submit)="login()">
      <div class="login_icon">
        <i class="ic-login"></i>
      </div>
      <div id="login_Input" class="relative">
        <input [(ngModel)]="loginData.email" [class.input_error]="email.hasError('required') && email.touched" name="email" #email="ngModel" class="common_input" placeholder="E-mail" required>
        <div *ngIf="email.hasError('required') && email.touched" class="form_error">E-mail jest wymagany</div>
      </div>
      <div id="password_Input" class="relative">
        <input [(ngModel)]="loginData.password" [class.input_error]="password.hasError('required') && password.touched" name="password" #password="ngModel" class="common_input" placeholder="Hasło" required>
        <div class="eye">
          <button type="button" (click)="changeEye($event)" class="icon_button">
            <a class="eye_icon"></a>
          </button>
        </div>
        <div *ngIf="password.hasError('required') && password.touched" class="form_error">Hasło jest wymagane</div>
      </div>
      <div class="login_options">
        <div>
          <input id="rember_me" type="checkbox">
          <label for="rember_me">Zapamiętaj mnie</label>
        </div>
        <a href="">Zapomniałeś hasła</a>
      </div>
      <div class="login_button">
        <button [disabled]="loginForm.invalid" [class.disabled]="loginForm.invalid" class="classic_button" mat-stroked-button>Zaloguj</button>
      </div>
    </form>
  </div>
</div>