$base: rgb(55, 92, 126);
$active: rgb(18, 138, 18);
$text-one: #c4c4c4;
$tex-two: #baa609;

.test {
    height: 500px;
    width: 400px;
    color: red;
    background-color: green;
    div:nth-child(2) {
        color: gold;
    }
}
