@import "/src/styles/common-imports.scss";

.padding_right {
  padding-right: 12px;
}

.padding_left {
  padding-left: 12px;
}

.icon_button {
  .option_icon {
    @include iconsSd(url('/assets/svg/gear.svg'), 35px, 35px, $main-green);
  }
  .user_icon {
    @include iconsSd(url('/assets/svg/user.svg'), 35px, 35px, $main-green);
  }
  .menu_icon {
    @include iconsSd(url('/assets/svg/menu.svg'), 35px, 35px, $main-green);
  }
}

.header {
  color: $font-main;
  background-color: $background-second;
  max-height: 65px;
  height: 65px;
  display: flex;
  justify-content: space-between;
  .text_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo_text {
      display: flex;
      flex-direction: column;
      h1 {
        margin: 0;
      }
      div {
        display: none;
      }
    }
    .logo {
      @include iconsSd(url('/assets/svg/logo_2.svg'), 45px, 45px, $main-green);
    }
  }
  .menu_wrapper {
    display: flex;
    align-items: center;
    padding-right: 9px;
  }
  .options_wrapper {
    display: none;
  }
  @media (min-width: 991px) {
    .text_wrapper {
      .logo_text {
        div {
          display: block;
        }
      }
    }
    .options_wrapper { 
      display: flex;
      align-items: center;
    }
    .menu_wrapper {
      display: none;
    }
  }
}
