<div class="login_wrapper">
  <div class="login_form">
    <form #loginForm="ngForm" formsValidation (submit)="register()">
      <div class="login_icon">
        <i class="ic-login"></i>
      </div>
      <div id="login_Input" class="icons_mode">
        <input [(ngModel)]="registeryData.email" name="email" #email="ngModel" class="common_input" placeholder="E-mail" type="email" [pattern]="emailPattern" required minlength="3">
      </div>
      <div id="login_Input" class="icons_mode">
        <input [(ngModel)]="registeryData.name" name="name" #name="ngModel" class="common_input" placeholder="E-mail"  required minlength="3">
      </div>
      <div id="login_Input" class="icons_mode">
        <input [(ngModel)]="registeryData.avatar" name="avatar" #avatar="ngModel" class="common_input" placeholder="E-mail" required minlength="3">
      </div>
      <div id="password_Input" class="icons_mode">
        <input [(ngModel)]="registeryData.password" type="password" name="password" #password="ngModel" class="common_input" placeholder="Hasło" required>
      </div>
      <div id="password_Input" class="icons_mode">
        <input [(ngModel)]="registeryData.passwordRepeat" type="password" name="passwordRepeat" #passwordRepeat="ngModel" class="common_input" placeholder="Hasło" required>
      </div>
      <div class="login_button">
        <button class="classic_button" mat-stroked-button>Zarejestruj</button>
      </div>
    </form>
  </div>
</div>