@import "/src/styles/common-imports.scss";

.registeryWrapper {
  margin: 5% auto;
  .registeryForm {
    border-bottom: 10px solid $main-green;
    border-top: 10px solid $main-green;
    padding: 20px;
    background-color: $background-second;
    form {
      #registeryInput, #passwordInput {
        margin-bottom: 16px;
        .common_input {
          width: 100%;
        }
      }
      #registeryInput {
        @include iconBeforeInputPadding(25px);
      }
      #registeryInput::before {
        @include iconsSd(url('/assets/svg/user.svg'), 25px, 25px, $main-green);
        @include iconInputPosition(25px, 0.18);
      }
      #passwordInput, #passwordInputRepeat {
        @include iconInputPaddingBothSide(25px);
      }
      #passwordInput::before {
        @include iconsSd(url('/assets/svg/key-solid.svg'), 25px, 25px, $main-green);
        @include iconInputPosition(30px, 0.18);
      }
      #passwordInputRepeat::before {
        @include iconsSd(url('/assets/svg/key-solid.svg'), 25px, 25px, $main-green);
        @include iconInputPosition(30px, 0.18);
      }
    }
  }
}

.registeryIcon {
  width: 50px;
  height: 50px;
  display: block;
  background-color: $main-green;
  -webkit-mask-image: url('/assets/svg/address-card-solid.svg');
  mask-image: url('/assets/svg/address-card-solid.svg');
  mask-repeat: no-repeat;
  margin-bottom: 8px;
}

.login_button {
  button {
    width: 100%;
  }
}