@import "/src/styles/common-imports.scss";
.mainPageWrapper {
    height: 100%;
}
.icon_button {
    .option_icon {
    @include iconsSd(url('/assets/svg/gear.svg'), 35px, 35px, $main-green);
    }
};

.padding {
  padding: 1rem;
}
.testButton {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 50px;
}
.textColorBox {
    height: 500px;
    width: 100%;
    color: $text-one;
    background-color: $base;
    div:nth-child(2) {
        color: $text-two;
    }
}
.testMutliClass {
    padding: 10px;
    &-green {
        color: green;
    }
    &-red {
        color: red;
    }
}

.ic-standard {
    width: 50px;
    height: 50px;
    display: block;
    fill: $text-two;
    background-image: url('/assets/svg/user.svg');
}
.ic-standard2 {
    width: 50px;
    height: 50px;
    display: block;
    background-color: $text-two;
    -webkit-mask-image: url('/assets/svg/user.svg');
    mask-image: url('/assets/svg/user.svg');
}

.testInput {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .formWrapper {
        height: 100%;
        display: flex;
        justify-content: center;
        .automaticIconbeffore {
            @include iconBeforeInputPadding(25px);
        }
        .automaticIconbeffore::before {
            @include iconsSd(url('/assets/svg/user.svg'), 25px, 25px, $background-second);
            @include iconBeforeInputPosition(25px);
        }
        .automaticIconBIgbeffore {
            @include iconBeforeInputPadding(45px);
        }
        .automaticIconBIgbeffore::before {
            @include iconsSd(url('/assets/svg/fingerprint-solid.svg'), 45px, 45px, $main-green);
            @include iconBeforeInputPosition(45px);
        }
    }
}
