@import "/src/styles/common-imports.scss";
.mainPageWrapper {
    height: 100%;
}
.icon_button {
    .option_icon {
    @include iconsSd(url('/assets/svg/gear.svg'), 35px, 35px, $main-green);
    }
};

.padding {
  padding: 1rem;
}
.testButton {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 50px;
}
// .testInput {
//     height: 200px;
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
.textColorBox {
    height: 500px;
    width: 100%;
    color: $text-one;
    background-color: $base;
    div:nth-child(2) {
        color: $text-two;
    }
}
.testMutliClass {
    padding: 10px;
    &-green {
        color: green;
    }
    &-red {
        color: red;
    }
}

.ic-standard {
    width: 50px;
    height: 50px;
    display: block;
    fill: $text-two;
    background-image: url('/assets/svg/user.svg');
}
.ic-standard2 {
    width: 50px;
    height: 50px;
    display: block;
    background-color: $text-two;
    -webkit-mask-image: url('/assets/svg/user.svg');
    mask-image: url('/assets/svg/user.svg');
}


.testInput {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .formWrapper {
        // 10px 10px 10px 35px
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        .formWrapperBefore {
            // padding: 10px 10px 10px 35px;
            position: relative;
        }
        .formWrapperBefore::before {
            content: "";
            @include iconsSd(url('/assets/svg/gear.svg'), 25px, 25px, $main-green);
            // display: inline-block;
            // position: absolute;
        }
    }
}
