
<div class="page_content">
  <div>
    <a routerLink="/">Go to home</a>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="testDialog()">Test dialog</button>
  </div>

  <div class="testButton">
    <div class="padding">
      <button class="classic_button" mat-stroked-button (click)="setDisabled()">set Disabled</button>
    </div>
    <div class="padding">
      <button class="classic_button" [class.disabled]="disabledButton" [disabled]="disabledButton" mat-stroked-button color="">Submit</button>
    </div>
  </div>

  <div class="testButton">
    <div class="padding">
      <button class="icon_button">
        <a class="option_icon"></a>
      </button>
    </div>
  </div>

  <div>
    <button mat-raised-button color="primary" (click)="testConfirmDialogDefButtons()">Test ConfirmdialogDef</button>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="testConfirmDialogSetButtons()">Test ConfirmdialogSET</button>
  </div>
  
  <div>
    <button mat-raised-button color="primary">Click me!</button>
    <button mat-raised-button color="accent">Click me!</button>
  </div>
  <div class="textColorBox">
    <div>To jest tekst pierwszy</div>
    <div>To jest tekst drugi</div>
  </div>
  <div hidden>
    <h3>Svg test</h3>
    <svg path="/src/assets/svg/fingerprint-solid.svg"></svg>
    <h4>test jako img</h4>
    <img src="/assets/svg/fingerprint-solid.svg">
  </div>
    <h4>Jako backgroud Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores mollitia nulla quae quos! Placeat minus beatae quia deserunt ex reiciendis nobis nesciunt eligendi aliquid sapiente minima dolorum veritatis facilis illo cum tempora, voluptatibus necessitatibus dicta excepturi. Aspernatur eum quo aut exercitationem omnis modi quaerat nisi quas nihil harum facere debitis deleniti quis, amet, vitae laborum laboriosam illo. Ut earum ducimus iste fugit reiciendis eos veritatis ex alias fuga laboriosam iusto provident molestiae repellat accusantium consequuntur, tempore mollitia maxime pariatur ullam enim, beatae ipsam facilis nisi vero. Distinctio, delectus! Est doloribus magnam facere explicabo pariatur quo saepe aliquam qui placeat? Magnam.</h4>
  <a class="ic-standard2"></a>
  
  <div class="testMutliClass">
    <h3>Tekst normal</h3>
  </div>
  
  <div class="testMutliClass-green">
    <h3>Tekst green</h3>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="testLoader()">Test loader</button>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="getAllPosts()">Get All Posts</button>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="getPostById(1)">Get Post id 1</button>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="getPostByFilters('likes')">Get Posts sorted by likes</button>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="getPostByFiltersDesc('likes')">Get Posts sorted by likes Desc</button>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="makeNewPost()">Post newBodyPost</button>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="deletePost(4)">Delete Post By id 4</button>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="searchPost('nowy post')">Search nowy post</button>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="searchPostfull('this')">Search full nowy post</button>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="getAuthorization()">Login get authorization</button>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="authGetProducts()">GetProducts auth</button>
  </div>
</div>