@import "/src/styles/colors.scss";
body {
  width: 50px;
  height: 50px;
  display: block;
  background-color: $text-two;
  -webkit-mask-image: url('/assets/svg/background/background.svg');
  mask-image: url('/assets/svg/background/background.svg');
}
.textColorBox {
    height: 500px;
    width: 100%;
    color: $text-one;
    background-color: $base;
    div:nth-child(2) {
        color: $text-two;
    }
}
.testMutliClass {
    padding: 10px;
    &-green {
        color: green;
    }
    &-red {
        color: red;
    }
}

.ic-standard {
    width: 50px;
    height: 50px;
    display: block;
    fill: $text-two;
    background-image: url('/assets/svg/user.svg');
}
.ic-standard2 {
    width: 50px;
    height: 50px;
    display: block;
    background-color: $text-two;
    -webkit-mask-image: url('/assets/svg/user.svg');
    mask-image: url('/assets/svg/user.svg');
}
