@import "/src/styles/common-imports.scss";
.overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(74, 74, 74, .8);
  z-index: 99999;
  .position {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
}

.Sband {
  @include iconsSd(url('/assets/svg/Sbrand.svg'), 25px, 25px, $main-green);
}

.hexagon {
  box-sizing: content-box;
  position: relative;
  width: 50px; 
  height: 28.87px;
  background-color: $main-green;
  margin: 14.43px 0;
  border-left: solid 5px #333333;
  border-right: solid 5px #333333;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 35.36px;
  height: 35.36px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 4.322px;
}

.hexagon:before {
  top: -22.678px;
  border-top: solid 7.0711px #333333;
  border-right: solid 7.0711px #333333;
}

.hexagon:after {
  bottom: -22.678px;
  border-bottom: solid 7.0711px #333333;
  border-left: solid 7.0711px #333333;
}


@keyframes spinnerOne {
  0% { transform: rotate(0deg); border-width: 10px; }
  50% { transform: rotate(180deg); border-width: 1px; }
  100% { transform: rotate(360deg); border-width: 10px; }
}

@keyframes spinnerTwo {
  0% { transform: rotate(0deg); border-width: 10px; }
  50% { transform: rotate(180deg); border-width: 1px; }
  100% { transform: rotate(360deg); border-width: 10px; }
}