@import "/src/styles/common-imports.scss";
.overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(74, 74, 74, .8);
  z-index: 99999;
  .position {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    .spinner {
      width: 100px;
      height: 100px;
      position: relative;
      div {
        position: absolute;
        width: 100%;
        height: 100%;
        border: 10px solid transparent;
        border-top-color: $main-green;
        border-radius: 50%;
        animation: spinnerOne 1.2s linear infinite;
      }
      div:nth-child(2) {
        border: 10px solid transparent;
        border-bottom-color: $main-green;
        animation: spinnerTwo 1.2s linear infinite;
      }
    }
  }
}

@keyframes spinnerOne {
  0% { transform: rotate(0deg); border-width: 10px; }
  50% { transform: rotate(180deg); border-width: 1px; }
  100% { transform: rotate(360deg); border-width: 10px; }
}

@keyframes spinnerTwo {
  0% { transform: rotate(0deg); border-width: 10px; }
  50% { transform: rotate(180deg); border-width: 1px; }
  100% { transform: rotate(360deg); border-width: 10px; }
}

.separator {
  height: 150px;
}

.hexSpinner {
  height: 100px;
  width: 100px;
  .hexBox {
    position: relative;
    height: 100px;
    width: 100px;
    div {
      height: 100%;
      width: 100%;
      position: absolute;
      border: 10px solid $main-green;
    }
    .groundMain {
      background-color: white;
      z-index: 10;
      border: 0;
    }
    .box1 {
      transform: rotate(60deg);
    }
    .ground1{
      transform: rotate(60deg) translate(10px);
    }
    .box2 {
      transform: rotate(120deg);
      left: 37px;
    }
    .ground2{
      transform: rotate(120deg) translate(10px);
    }
    .box3 {
      top: 32px;
      left: -19px;
    }
    .ground3{
      transform: translate(10px);
    }
    .box4 {
      top: 32px;
      left: 57px;
    }
    .ground4{
      transform: translate(-10px);
    }
    .box5 {
      top: 64px;
      transform: rotate(120deg);
    }
    .ground5{
      transform: rotate(120deg) translate(-10px);
    }
    .box6 {
      transform: rotate(60deg);
      top: 64px;
      left: 38px;
    }
    .ground6{
      transform: rotate(60deg) translate(-10px);
    }
  }
}