<!-- <div *ngIf="isLoading | async" class="overlay"> -->
<div *ngIf="true" class="overlay">
  <div class="position">
    <!-- <div class="spinner">
      <div></div>
      <div></div>
    </div>
    <div class="separator"></div> -->
    <div class="hexSpinner">
      <div class="hexBox">
        <div class="box1"></div>
        <div class="box1 groundMain ground1"></div>
        <div class="box2"></div>
        <div class="box2 groundMain ground2"></div>
        <div class="box3"></div>
        <div class="box3 groundMain ground3"></div>
        <div class="box4"></div>
        <div class="box4 groundMain ground4"></div>
        <div class="box5"></div>
        <div class="box5 groundMain ground5"></div>
        <div class="box6"></div>
        <div class="box6 groundMain ground6"></div>
      </div>
    </div>
  </div>
</div>