@import "/src/styles/colors.scss";

.classic_button {
  font-family: "Ropa Sans", sans-serif;
  font-size: 1.2rem;
  max-height: 2.5rem;
  line-height: 1.6;
  color: $font-main;
  width: 9rem;
  min-width: 5rem;
  border: 2.5px solid currentColor;
  border-color: #66bb6a;
  border-radius: 0.8rem;
  background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(93,93,93,1) 51%);
}
.mat-button:hover:not(.mat-button-disabled) .mat-button-focus-overlay, .mat-stroked-button:hover:not(.mat-button-disabled) .mat-button-focus-overlay {
  opacity: 0.12 !important;
}

