$base: rgb(55, 92, 126);
$active: rgb(18, 138, 18);
$text-one: #c4c4c4;
$text-two: #baa609;
$background-main: #1c1b1b;
$background-second: #464545;
$font-main: #d5d5d5;
$main-green: #66bb6a;
$main-green-active: #4cda53;
html {
  --scrollbarBG: #515151;
  --thumbBG: #2d2a2a;
}