@import "/src/styles/common-imports.scss";
* {
  box-sizing: border-box;
}
html {
  overflow: hidden;
}
body {
  background-color: $background-main;
  color: $font-main;
  font-family: 'Ropa Sans', sans-serif;
  overflow-y: auto;
  font-size: 16px;
  scrollbar-width: auto;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
}
mat-drawer-container {
  height: 100vh;
}





