@import "/src/styles/colors.scss";
* {
  box-sizing: border-box;
}
html {
  overflow: hidden;
}
body {
  overflow-y: auto;
  scrollbar-width: auto;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
}





