@import "/src/styles/mixins.scss";

.common_input {
  @include inputMixin();
}

.inputFrontIcon {
  position: relative;
  .common_input {
    padding: 10px 10px 10px 35px;
  }
}
.inputFrontIcon::before {
  content: "";
}