// ICONS
@mixin iconsSd($url, $width: 25px, $height: 25px, $color) {
  width: $width;
  height: $height;
  background-color: $color;
  -webkit-mask-image: $url;
  mask-image: $url;
}

@mixin iconsNoColor($url, $width: 25px, $height: 25px) {
  min-width: $width;
  min-height: $height;
  background-image: $url;
}

// INPUTS
@mixin iconBeforeInputPadding($iconSize, $heightInherit:0) {
  position: relative;
  .common_input {
    padding: calc(#{$iconSize} * 0.4) calc(#{$iconSize} * 0.4) calc(#{$iconSize} * 0.4) calc(#{$iconSize} * 1.4);
    @if $heightInherit == 1 {
      max-height: inherit;
    } @else {
      max-height: 2.2rem;
    }
  }
}
@mixin iconInputPaddingBothSide($iconSize, $heightInherit:0) {
  position: relative;
  .common_input {
    padding: calc(#{$iconSize} * 0.4) calc(#{$iconSize} * 1.4) calc(#{$iconSize} * 0.4) calc(#{$iconSize} * 1.4);
    @if $heightInherit == 1 {
      max-height: inherit;
    } @else {
      max-height: 2.2rem;
    }
  }
}

@mixin iconInputPosition($iconSize, $positonValue) {
  content: '';
  position: absolute;
  top: calc(#{$iconSize} * #{$positonValue});
  left: calc(#{$iconSize} * #{$positonValue});
}

