// ICONS
@mixin iconsSd($url, $width: 25px, $height: 25px, $color) {
  display: block;
  width: $width;
  height: $height;
  background-color: $color;
  -webkit-mask-image: $url;
  mask-image: $url;
  mask-size: contain;
  mask-repeat: no-repeat;
}

@mixin iconsNoColor($url, $width: 25px, $height: 25px) {
  display: block;
  min-width: $width;
  min-height: $height;
  background-image: $url;
  background-size: contain;
  background-repeat: no-repeat;
}

@mixin inputFrontIcon($url, $width: 25px, $height: 25px) {
  position: relative;
}

// INPUTS
@mixin inputMixin() {
  outline: none;
  max-height: 2.2rem;
  background: $blackInput;
  color: $font-main-highlights;
  font-weight: 500;
  padding: 0.625rem;
  border: solid $font-main-highlights 1px;
  border-radius: 4px;
  font-size: 1rem;
  &:focus-visible {
    border: solid $main-green 1px;
  }
  &:disabled {
    border: solid $disabled-border 1px;
    background: $background-disabled;
  }
}
