.relative {
  position: relative;
}

.commonLink {
  color: $main-green;
  text-decoration: none;
}

.iconsMode {
  display: block;
  background-size: contain;
  mask-size: contain;
  background-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.flexHorizontalCenter{
  display: flex;
  justify-content: center; 
}

.flexFullCenter {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.marginTop {
  margin-top: 8px;
}

.marginBottom {
  margin-bottom: 8px;
}

.marginHorizontal {
  margin-left: 8px;
  margin-right: 8px;
}

.marginVertical {
  margin-top: 8px;
  margin-bottom: 8px;
}

.marginLeft {
  margin-left: 8px;
}

.marginRight {
  margin-right: 8px;
}
