<div class="header">
  <ng-content></ng-content>
  <div class="padding_left text_wrapper">
    <div class="logo icons_mode"></div>
    <div class="logo_text">
      <h1>Servant</h1>
      <div>Jestem do twoich usług</div>
    </div>
  </div>
  <div *ngIf="logged" class="menu_wrapper">
    <button (click)="openSideMenu()" class="icon_button">
      <a class="menu_icon icons_mode"></a>
    </button>
  </div>
  <div *ngIf="logged" class="options_wrapper">
    <div class="padding_right">
      <button class="icon_button">
        <a class="option_icon icons_mode"></a>
      </button>
    </div>
    <div class="padding_right">
      <button class="icon_button">
        <a class="user_icon icons_mode"></a>
      </button>
    </div>
  </div>
</div>


