@import "/src/assets/colors/colors.scss";

.textColorBox {
    height: 500px;
    width: 400px;
    color: $text-one;
    background-color: $base;
    div:nth-child(2) {
        color: $text-two;
    }
}