<div>
  <button mat-raised-button color="primary" (click)="testDialog()">Test dialog</button>
</div>

<div>
  <button mat-raised-button color="primary">Click me!</button>
  <button mat-raised-button color="accent">Click me!</button>
</div>
<div class="textColorBox">
  <div>To jest tekst pierwszy</div>
  <div>To jest tekst drugi</div>
</div>
<div hidden>
  <h3>Svg test</h3>
  <svg path="/src/assets/svg/fingerprint-solid.svg"></svg>
  <h4>test jako img</h4>
  <img src="/assets/svg/fingerprint-solid.svg">
</div>
  <h4>Jako backgroud</h4>
<a class="ic-standard2"></a>

<div class="testMutliClass">
  <h3>Tekst normal</h3>
</div>

<div class="testMutliClass-green">
  <h3>Tekst green</h3>
</div>
<div>
  <button mat-raised-button color="primary" (click)="testLoader()">Test loader</button>
</div>
<app-loader-global></app-loader-global>

<router-outlet></router-outlet>