@import "/src/styles/common-imports.scss";

.icon_angular {
  @include iconsNoColor(url('/assets/svg/angular.svg'), 18px, 18px);
}

.icon_materials {
  @include iconsNoColor(url('/assets/svg/material.svg'), 18px, 18px);
}

.icon_rxjs {
  @include iconsNoColor(url('/assets/svg/rxjs.svg'), 18px, 18px);
}

.icon_node {
  @include iconsNoColor(url('/assets/svg/nodejs.svg'), 18px, 18px);
}


.fotter_wraper {
  color: $font-main;
  height: 10rem;
  background: $background-second;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  div:nth-child(1) {
    max-width: 70%
  }
  .powerder_box {
    padding-left: 5px;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    .powerder_title {
      min-width: 100%;
    }
    ul {
      margin: 0;
      list-style-type: none;
      padding: 0;
      li {
        padding: 5px 0 0 0;
        a {
          color: $font-main;
          text-decoration: none;
          display: flex;
          align-items: center;
          cursor: pointer;
          margin: 0 5px 0 5px;
          span:nth-child(1) {
            margin-right: 5px;
          }
        }
        a:hover {
          color: $font-main-highlights;
        }
      }
    }
  }
}

@media (min-width: 991px) {
  .fotter_wraper {
    height: 3rem;
    div:nth-child(1) {
      max-width: none;
    }
    .powerder_box {
      padding-left: 0;
      max-width: none;
      flex-direction: row;
      .powerder_title {
        max-width: none;
        min-width: 0;
        padding-right: 5px;
      }
      ul {
        display: flex;
        li {
          padding: 0px;
        }
      }
    }
  }
}