@import "/src/styles/common-imports.scss";

.icon_angular {
  @include iconsNoColor(url('/assets/svg/angular.svg'), 18px, 18px);
}

.icon_materials {
  @include iconsNoColor(url('/assets/svg/material.svg'), 18px, 18px);
}

.icon_rxjs {
  @include iconsNoColor(url('/assets/svg/rxjs.svg'), 18px, 18px);
}

.icon_node {
  @include iconsNoColor(url('/assets/svg/nodejs.svg'), 18px, 18px);
}


.fotter_wraper {
  color: $font-main;
  height: 3rem;
  background: $background-second;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  .powerder_box {
    display: flex;
    div {
      padding-right: 10px;
    }
    ul {
      margin: 0;
      display: flex;
      list-style-type: none;
      padding: 0;
      a {
        color: $font-main;
        text-decoration: none;
        display: flex;
        align-items: center;
        cursor: pointer;
        margin: 0 5px 0 5px;
        span:nth-child(1) {
          margin-right: 5px;
        }
      }
      a:hover {
        color: $font-main-highlights;
      }
    }
  }
}