@import "/src/styles/common-imports.scss";

.eye {
  color: $main-green;
  position: absolute;
  display: inline;
  left: unset;
  right: -5px;
  top: 2px;
  .eye_icon {
    @include iconsSd(url('/assets/svg/eye-regular.svg'), 20px, 20px, $main-green);
  }
  .eye_cross {
    @include iconsSd(url('/assets/svg/eye-slash-regular.svg'), 20px, 20px, $main-green);
  }
}